body {
  margin: 0;
  font-family: system-ui;
  background-color: #f5e2e2;

&:has(:popover-open) {
  overflow: hidden;
  .meow-container {
    pointer-events: none;
  }
}
}


.on-headline {
  display: grid;
  grid-template-columns: 1fr 500px auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.headline {
  background-color: #f5e2e2;
  display: grid;
  place-items: center;

  img {
    max-width: 100%;
    height: 160px;
  }
}

.monti {
  width: 100%;
  height: 400px;
  object-fit: cover;
  grid-area: 1 / 1 / 4 / 5;
}

.browser {
  backdrop-filter: blur(11px);
  grid-area: 2 / 2 / 3 / 3;
  background-color: #ffffff40;
  color: #fff;
  border: none;
  border-radius: 9px;
  padding: 12px 20px;
  font-size: 20px;

}

input::placeholder {
  color: black;
}

.checkobox-liked {
  grid-area: 2 / 3 / 3 / 4;
  color: white;
  padding: 20px 22px;
  font-size: 22px;
  border-radius: 9px;
  backdrop-filter: blur(11px);
  margin: 0 0 0 10px;

  .heart {
    color: white;
  }

  &:has(input:checked) {
    color: #e0218a;

    .heart {
      color: #e0218a;
    }
  }

  input {
    appearance: none;
  }
}

label {
  cursor: pointer;
}

#dad-joke {
  text-align: center;
  background: #f6d4d3;
  color: #e0218a;
  font-size: 22px;
  padding: 25px;
  border-radius: 9px;
  font-family: system-ui;
}



.meow-container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: black 0 0 5px;
  border-radius: 9px;
  overflow: hidden;

  &[hidden] {
    display: none;
  }

  li::before {
    content: "#";
  }

  img {
    width: 100%;
    /*https://cssgrid-generator.netlify.app/*/
    grid-area: 1 / 1 / 4 / 4;


    cursor: pointer;
    transition: transform 0.3s ease;
  }



  .open-popover-button {
    grid-area: 1 / 1 / 4 / 4; /* Zajmuje całą powierzchnię zdjęcia */
    opacity: 0; /* Sprawia, że jest niewidzialny */
    cursor: pointer; /* Zapewnia, że kursor zmienia się na wskaźnik */
    padding: 0; /* Usuwa domyślny padding przycisku */
    font-size: 0; /* Ukrywa tekst przycisku */
  }
  dialog {
    max-width: 90vw;
    max-height: 90vh;
    /*padding: 20px;*/
    border: 5px pink solid;
    border-radius: 9px;
    /*background-color: white;*/
    display: none;

    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-shadow: black 0 0 5px;
    overflow: hidden;

    &:popover-open {
      display: grid;
    }


    img{
      max-width: 100%;
      max-height: 80vh; /* Zostawiam miejsce na przycisk zamknij */
      object-fit: contain; /* Zachowuje proporcje obrazu */
      display: block;
      margin: 0 auto;
    }
    button.like {
      font-size: 45px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      grid-area: 1 / 2 / 2 / 3;
      margin-bottom: 5px;
      --color: black;
      color: white;
      /*https://stackoverflow.com/a/13427256/7132461*/
      text-shadow: 1px 0 var(--color), -1px 0 var(--color), 0 1px var(--color), 0 -1px var(--color),
      1px 1px var(--color), -1px -1px var(--color), 1px -1px var(--color), -1px 1px var(--color);
      font-family: system-ui;
      padding: 0;


      &.liked {
        color: #e0218a;
        --color: black;
      }
    }

    .button-download {
      font-size: 35px;
      grid-area: 1 / 3 / 2 / 4;
      place-self: center;
      padding: 7px;
    }

    li {
      display: inline;
      font-size: 20px;
    }

    ul {
      display: flex;
      gap: 8px;
      background-color: #00000060;
      color: white;
      grid-area: 3 / 1 / 4 / 4;
      flex-wrap: wrap;
      margin: 0;
      padding: 4px;
    }
  }

















}

#main {
  --gap: 10px;
  columns: 3;
  column-gap: var(--gap);
  margin: 100px;

  article {
    border: 5px pink solid;
    font-family: system-ui;

  }

  /* Wszystkie koty które nie są ukryte */
  article:not([hidden]) {
    margin-top: 0;

    /* Wszystkie koty które nie są ukryte *i* mają przed sobą innego nie ukrytego kota */
    & ~ :not([hidden]) {
      margin-top: var(--gap);
    }
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }


}

.footer{
  text-align: center;
  font-family: system-ui;
  a{
    text-decoration: none;
  }
}

::backdrop {
  background: black;
  opacity: 0.5;
}

