button.like {
  font-size: 30px;

  &.liked {
    color: pink;
  }
}

#main{
  columns: 3;
}

.meow-container {
  li::marker{
    content: "#";
  }
  img{
    width: 350px;
  }
  li{}
}

.monti {
  width: 350px;

}

